absl-py==0.11.0
actionlib==1.12.1
addict==2.3.0
angles==1.9.12
appdirs==1.4.4
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
base-local-planner==1.16.7
bleach==3.2.1
bondpy==1.8.5
cachetools==4.1.1
camera-calibration-parsers==1.11.13
catkin==0.7.29
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
controller-manager==0.18.3
controller-manager-msgs==0.18.3
cupy==8.1.0
cv-bridge==1.13.0
cycler==0.10.0
decorator==4.4.2
default-cfg-fkie==0.8.12
defusedxml==0.6.0
diagnostic-updater==1.9.7
dynamic-reconfigure==1.6.3
entrypoints==0.3
fastrlock==0.5
flatbuffers==1.12
gast==0.3.3
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.14
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
image-geometry==1.13.0
imageio==2.9.0
importlib-metadata==2.0.0
interactive-markers==1.11.5
ipykernel==5.3.4
ipython==8.10
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==1.1.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
laser-geometry==1.6.7
laspy==1.7.0
llvmlite==0.34.0
Markdown==3.3.3
MarkupSafe==1.1.1
master-discovery-fkie==0.8.12
master-sync-fkie==0.8.12
matplotlib==3.3.2
meshio==4.3.5
message-filters==1.14.10
mistune==0.8.4
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
networkx==2.5
node-manager-fkie==0.8.12
nose==1.3.7
notebook==6.1.5
numba==0.51.2
numpy==1.19.4
oauthlib==3.1.0
open3d==0.11.2
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pkg-resources==0.0.0
plyfile==0.7.2
probreg==0.3.1
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.13.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.0
pycparser==2.20
Pygments==2.7.2
pymesh2==0.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytz==2020.4
pyvista==0.27.2
PyYAML==5.3.1
pyzmq==19.0.2
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
requests-oauthlib==1.3.0
resource-retriever==1.12.6
rosbag==1.14.10
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.10
roslaunch==1.14.10
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.10
rosmake==1.14.9
rosmaster==1.14.10
rosmsg==1.14.10
rosnode==1.14.10
rosparam==1.14.10
rospy==1.14.10
rospy-message-converter==0.5.5
rosserial-arduino==0.8.0
rosserial-client==0.8.0
rosserial-python==0.8.0
rosservice==1.14.10
rostest==1.14.10
rostopic==1.14.10
rosunit==1.14.9
roswtf==1.14.10
rqt-bag==0.5.1
rqt-console==0.4.9
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-logger-level==0.4.8
rqt-multiplot==0.0.10
rqt-py-common==0.5.2
rqt-reconfigure==0.5.3
rsa==4.6
Rtree==0.8.3
rviz==1.13.15
scikit-learn==0.23.2
scikit-spatial==5.2.0
scipy==1.5.4
scooby==0.5.6
Send2Trash==1.5.0
sensor-msgs==1.12.8
six==1.15.0
sklearn==0.0
smclib==1.8.5
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.3
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
threadpoolctl==2.1.0
thundersvm==0.3.12
topic-tools==1.14.10
tornado==6.1
tqdm==4.51.0
traitlets==4.3.3
transformations==2020.1.1
transforms3d==0.3.1
trimesh==3.8.14
typing-extensions==3.7.4.3
urllib3==1.25.11
vtk==9.0.1
waymo-open-dataset==1.0.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.3
widgetsnbextension==3.5.1
wrapt==1.12.1
xacro==1.13.9
zipp==3.4.0
